@model IEnumerable<AppleStore.Domain.Entity.Device>?

<body>
<div class="top-buttons">
   <a href="@Url.Action("Catalog", "Device",new {type=1})" class="top-button">Часы</a>
     <a href="@Url.Action("Catalog", "Device",new {type=0})" class="top-button">Телефоны</a>
     <a href="@Url.Action("Catalog", "Device",new{type=2})" class="top-button">Планшеты</a>
     <a href="@Url.Action("Catalog", "Device",new {type=3})" class="top-button">Ноутбуки</a>
</div>
<div class="catalog">
    <ul>
        @foreach (var device in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Order", new {id=device.Id})"> <!-- Переход к странице товара -->
                    <img src="@device.ImageUrl">
                    <p>@device.Name <br/>@device.Price  руб</p>
                </a>
            </li>
        }
    </ul>
</div>
</body>
