@using AppleStore.Domain.Entity
@model AppleStore.Domain.Entity.Device

@{
    Layout = "_CatalogLayout";
    List<int> id = new List<int>() { (int)Model.Id };
}
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
</head>
<body>
<div class="product">
    <img src="@Model.ImageUrl" alt="@Model.Name">
    <h2>@Model.Name</h2>
    <p>@Model.Description</p><br/>
    <p>@Model.Price руб</p>
    <a href="@Url.Action("PlaceOrder", "Order", new { ids = id })" class="btn-custom">Заказать</a>
    <a href="@Url.Action("AddToCart", "Cart", new { id = Model.Id })" class="btn-custom">Добавить в корзину</a>

</div>
<div class="navigation-button">
    <a href="@Url.Action("Catalog", "Home", new { type = (int)Model.Type })" class="btn">Назад</a>
</div>
</body>
</html>