@using AppleStore.Domain.Entity
@model AppleStore.Domain.Entity.Device

<!DOCTYPE html>
<html>
<head>
<title>@Model.Name</title>
</head>
<body>
<div class="top-buttons">
   <a href="@Url.Action("Catalog", "Device",new {type=1})" class="top-button">Часы</a>
     <a href="@Url.Action("Catalog", "Device",new {type=0})" class="top-button">Телефоны</a>
     <a href="@Url.Action("Catalog", "Device",new{type=2})" class="top-button">Планшеты</a>
     <a href="@Url.Action("Catalog", "Device",new {type=3})" class="top-button">Ноутбуки</a>
</div>
<div class="product">
    <img src="@Model.ImageUrl" alt="@Model.Name">
    <h2>@Model.Name</h2>
    <p>@Model.Description</p><br/>
    <p>@Model.Price руб</p>
    <a href="@Url.Action("PlaceOrder", "Order", new { id = @Model.Id })">Заказать</a>
</div>
<div class="navigation-button">
    <a href="@Url.Action("Catalog", "Device",new {type=-1})" class="btn">Назад</a>
</div>
</body>
</html>