@model AppleStore.Domain.Entity.Device

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
    <link rel="stylesheet" href="css/styles.css"> <!-- Путь к файлу стилей -->
</head>
<body>
<header>
    <h1>Онлайн магазин телефонов</h1>
</header>
<div class="product">
    <img src="@Model.Description" alt="@Model.Name">
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <a href="@Url.Action("Index", "Home", new { id = Model.Id })">Заказать</a>
</div>
</body>
</html>