@model DeviceOrderViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Заказ товара</title>
</head>
<body>
<div class="order">
    <h2>Оформление заказа</h2>
    <p>@Model.Device.Name</p>
    <img src="@Model.Device.ImageUrl" alt="@Model.Device.Name">
    <p class="catalog">Стоимость заказа :<br/> @Model.Device.Price руб </p>
    <form asp-action="PlaceOrder" asp-controller="Order" method="post">
        <input type="hidden" asp-for="Device.Id" value="@Model.Device.Id" />
        <input type="hidden" asp-for="Order.DeviceId[0]" value="@Model.Device.Id" />
        <input type="hidden" asp-for="Order.Status" value="0" />
        <input type="hidden" asp-for="Order.Price" value="@Model.Device.Price" />
        <label for="name">Имя:</label>
        <input type="text" id="name" asp-for="Order.Name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" asp-for="Order.Email" required>
        <label for="address">Адрес доставки:</label>
        <input type="text" id="address" asp-for="Order.Address" required>
        <button type="submit">Оформить заказ</button>
    </form>
</div>
<div class="navigation-button">
    <a href="@Url.Action("Catalog", "Device",new {type=-1})" class="btn">Вернуться в каталог</a>
</div>
</body>
</html>