@model AppleStore.Domain.ViewModels.DeviceOrderViewModel
@using System.Linq
@{
    decimal? orderCost = Model.Devices.Sum(device => device.Price);
}
<!DOCTYPE html>
<html>
<head>
    <title>Заказ товара</title>
</head>
<body>
<div class="order">
    <h2>Оформление заказа</h2>
    @foreach (var device in @Model.Devices)
    {
        <p>@device.Name</p>
        <img src="@device.ImageUrl" alt="@device.Name">
    }
    <p class="catalog">Стоимость заказа :<br/> @orderCost руб </p>
    <form asp-action="PlaceOrder" asp-controller="Order" method="post">
        <input type="hidden" asp-for="Order.DevicesId"/>
        <input type="hidden" asp-for="@Model.Order.DevicesId" />
        <input type="hidden" asp-for="@Model.Devices[0].Id" value="@Model.Devices[0].Id"/>
        <input type="hidden" asp-for="@Model.Order.Status" value="0"/>
        <input type="hidden" asp-for="@Model.Order.Price" value="@orderCost"/>
        <label for="name">Имя:</label>
        <input type="text" id="name" asp-for="Order.Name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" asp-for="Order.Email" required>
        <label for="address">Адрес доставки:</label>
        <input type="text" id="address" asp-for="Order.Address" required>
        <button type="submit">Оформить заказ</button>
    </form>
</div>
<div class="navigation-button">
    <a href="@Url.Action("Catalog", "Home",new {type=-1})" class="btn">Вернуться в каталог</a>
</div>
</body>
</html>