@model DeviceOrderViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Заказ товара</title>
    <link rel="stylesheet" href="css/style.css"> <!-- Путь к файлу стилей -->
</head>
<body>
<header>
    <h1>Онлайн магазин телефонов</h1>
</header>
<div class="order">
    <h2>Оформление заказа</h2>
    <p>Выбранный товар: @Model.Device.Name</p>
    <img src="@Model.Device.ImageUrl" alt="@Model.Device.Name">
   <form asp-action="PlaceOrder" asp-controller="Order" method="post">
       <!-- Отправка заказа на сервер -->
      <input type="hidden" asp-for="Device.Id" value="@Model.Device.Id" />
       <input type="hidden" asp-for="Order.DeviceId" value="@Model.Device.Id" />
       <label for="name">Имя:</label>
       <input type="text" id="name" asp-for="Order.Name" required>
       <label for="email">Email:</label>
       <input type="email" id="email" asp-for="Order.Email" required>
       <label for="address">Адрес доставки:</label>
       <input type="text" id="address" asp-for="Order.Address" required>
       <button type="submit">Оформить заказ</button>
   </form>
</div>
</body>
</html>